<!DOCTYPE html>
<html>

<head>
    <title>USPGAMEDEV</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet" />
    <link href="font-awesome-5.15/css/all.min.css" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,300;1,700&family=Roboto+Slab:wght@700&display=swap"
        rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="https://uspgamedev.org/media/logo_favicon.png" />
</head>
<body>
